.c-align-item {
  &-center {
    display: flex;
    align-items: center !important;
  }
  &-start {
    display: flex;
    align-items: flex-start !important;
  }
  &-end {
    display: flex;
    align-items: flex-end !important;
  }
}
