.c-justify-content {
  &__wrap{
    flex-wrap: wrap !important;
  }
  &-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;

    &-md {
      @include mq("md") {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
      }
    }
  }
  &-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
  }
  &-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  &-end {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}
