.p-monitor-list {
  &__account-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: $space-s;
    @include mq("sm") {
      width: auto;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    margin-right: $space-m;
    width: 100%;
    @include mq("sm") {
      justify-content: flex-start;
      margin-right: 0;
      width: auto;
    }
    align-items: center;
  }
  &__item {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space-xl;
    background: #eeeeee;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(189, 189, 189, 1);
    box-shadow: 3px 3px 0px 0px rgba(189, 189, 189, 1);
    padding: $space-m;
  }
  &__img {
    width: 50px;
    height: 50px;
    margin-right: $space-l;
    border-radius: 100%;
  }
  &__form-group {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    @include mq("sm") {
      margin: 0 $space-xs;
    }
    @include mq("md") {
      margin: 0 $space-s;
    }
  }
  &__form-label {
    font-size: 1.4rem;
    margin-bottom: $space-xs;
  }
}
