.p-strlist {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    @include mq("md") {
      // width: 30%;
    }
    &__text-box {
      box-sizing: border-box;
      height: 30px;
      width: 100%;
    }
    &__select-box {
      box-sizing: border-box;
      width: 95%;
      min-height: 90px;
  
      @include mq("md") {
        // width: 80%;
      }
    }
  }
