@charset "UTF-8";

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans", "\6E38\30B4\30B7\30C3\30AF", "\6E38\30B4\30B7\30C3\30AF\4F53", "Yu Gothic", "YuGothic", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", "Hiragino Kaku Gothic ProN", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

body {
  font-size: 1.6rem;
  background: #fcfcfc;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media all and (-ms-high-contrast: none) {
  #app {
    height: 100vh;
  }
}

input,
textarea,
select {
  border: 1px solid #333333;
  box-sizing: border-box;
}

span,
p {
  line-height: 1.5;
}

#header {
  padding: 15px;
  max-width: calc(100% + (2 * 15px));
  box-sizing: border-box;
  background: #29A1F2;
}

@media screen and (min-width: 1000px) {
  #header {
    min-width: calc(980px + (2 * 15px));
  }
}

#main {
  margin-top: 45px;
  margin-bottom: 20px;
  padding: 0 15px;
  box-sizing: border-box;
  display: inline-block;
  width: 95%;
}

@media screen and (min-width: 768px) {
  #main {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

#sidebar {
  padding: 15px;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.95;
  display: none;
}

@media screen and (min-width: 768px) {
  #sidebar {
    width: 20%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    position: static;
    display: block;
  }
}

#footer {
  padding: 15px;
  margin-top: auto;
  margin-bottom: 0;
  box-sizing: border-box;
  background: #29A1F2;
}

@media screen and (min-width: 1000px) {
  #footer {
    min-width: calc(980px + (2 * 15px));
  }
}

.c-datetime-select-box {
  padding: 5px 2px 0px 2px;
  background: #ffffff;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.c-align-item-center {
  display: flex;
  align-items: center !important;
}

.c-align-item-start {
  display: flex;
  align-items: flex-start !important;
}

.c-align-item-end {
  display: flex;
  align-items: flex-end !important;
}

.c-btn {
  padding: 5px 15px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #acacac;
  box-sizing: border-box;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  .c-btn {
    font-size: 1.6rem;
  }
}

.c-btn--primary {
  background: #3490dc;
  color: #ffffff;
}

.c-btn--danger {
  background: #dc4834;
  color: #ffffff;
}

.c-btn--accent {
  background: #dca134;
  color: #ffffff;
}

.c-btn--large {
  font-size: 1.4rem;
  padding: 10px 25px;
}

.c-btn--large2 {
  font-size: 1.6rem;
  padding: 15px 30px;
}

.c-btn--circle {
  border-radius: 10px;
}

.c-card {
  background: #ffffff;
  border: 1px solid #a1a1a1;
  box-sizing: border-box;
}

.c-card__header {
  padding: 15px;
  background: #eeeeee;
}

.c-card__body {
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .c-card__body {
    padding: 25px;
  }
}

.c-container {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1000px) {
  .c-container {
    width: 980px;
  }
}

.c-form-fieldset {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  padding: 15px;
}

@media screen and (min-width: 400px) {
  .c-form-fieldset {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.c-form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.c-form-group__label {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .c-form-group__label {
    margin-bottom: 0;
  }
}

.c-form-group__text {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .c-form-group__text {
    width: 100%;
  }
}

.c-form-group__select-multi {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 1.4rem;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .c-form-group__select-multi {
    width: 30%;
  }
}

.c-gnav__item {
  margin-left: 20px;
}

.c-gnav__link {
  text-decoration: none;
  color: #ffffff;
}

.c-invalid-feedback {
  display: inline-block;
  color: #dc4834;
}

.c-justify-content__wrap {
  flex-wrap: wrap !important;
}

.c-justify-content-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media screen and (min-width: 768px) {
  .c-justify-content-between-md {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.c-justify-content-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

.c-justify-content-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.c-justify-content-end {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.c-row {
  width: 100%;
}

.c-side-menu__title {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.c-side-menu__list {
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}

.c-side-menu__btn-open {
  width: 60px;
  height: 60px;
  background: #2af229;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .c-side-menu__btn-open {
    display: none;
  }
}

.c-side-menu__btn-close {
  width: 60px;
  height: 60px;
  background: #2af229;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  display: none;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .c-side-menu__btn-close {
    display: none;
  }
}

.c-site-logo {
  font-size: 1.3rem;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  .c-site-logo {
    font-size: 2rem;
  }
}

.c-textbox--small {
  padding: 5px;
  width: 20rem;
  font-size: 1.4rem;
}

.c-title {
  font-size: 2.8rem;
  margin-bottom: 25px;
}

@media screen and (min-width: 400px) {
  .c-title {
    margin-bottom: 45px;
  }
}

.c-column {
  display: flex;
  flex-direction: column;
}

.p-top--fluid {
  height: 100%;
}

@media all and (-ms-high-contrast: none) {
  .p-top--fluid {
    height: auto;
  }
}

.p-top__container {
  line-height: 1.5;
  background: #29A1F2;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 35px 10px;
}

@media screen and (min-width: 768px) {
  .p-top__container {
    padding: 100px 60px 60px 60px;
  }
}

.p-top__container--1 {
  text-align: center;
  margin-bottom: 100px;
}

.p-top__paragraph1 {
  font-size: 1rem;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .p-top__paragraph1 {
    font-size: 1.4rem;
  }
}

.p-top__paragraph2 {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 700;
}

@media screen and (min-width: 400px) {
  .p-top__paragraph2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .p-top__paragraph2 {
    font-size: 4rem;
  }
}

.p-top__paragraph3 {
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .p-top__paragraph3 {
    font-size: 1.5rem;
  }
}

.p-top__paragraph4 {
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .p-top__paragraph4 {
    font-size: 1.5rem;
  }
}

.p-top--strong {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 800;
}

.p-copy {
  color: #ffffff;
}

.p-strlist {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.p-strlist__text-box {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
}

.p-strlist__select-box {
  box-sizing: border-box;
  width: 95%;
  min-height: 90px;
}

.p-help {
  margin: 20px 10px;
}

.p-help__description {
  margin-bottom: 15px;
}

.p-help__table {
  border: 2px solid #929191;
}

.p-help__row {
  border: 2px solid #929191;
  padding: 10px;
}

.p-help__col {
  border: 2px solid #929191;
  padding: 10px;
}

.p-flash_message {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.p-flash_message--success {
  background: #dff0d8;
  color: #3c763d;
}

.p-flash_message--error {
  background: #f2dede;
  color: #a94442;
}

.p-flash_message--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.p-message-1 {
  margin-bottom: 35px;
  display: inline-block;
}

.p-monitor-list__account-info {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 400px) {
  .p-monitor-list__account-info {
    width: auto;
  }
}

.p-monitor-list__buttons {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  margin-right: 15px;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 400px) {
  .p-monitor-list__buttons {
    justify-content: flex-start;
    margin-right: 0;
    width: auto;
  }
}

.p-monitor-list__item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  background: #eeeeee;
  box-shadow: 3px 3px 0px 0px #bdbdbd;
  padding: 15px;
}

.p-monitor-list__img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 100%;
}

.p-monitor-list__form-group {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

@media screen and (min-width: 400px) {
  .p-monitor-list__form-group {
    margin: 0 5px;
  }
}

@media screen and (min-width: 768px) {
  .p-monitor-list__form-group {
    margin: 0 10px;
  }
}

.p-monitor-list__form-label {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.p-reserve-history {
  background: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  background: #eeeeee;
  box-shadow: 3px 3px 0px 0px #bdbdbd;
  margin-bottom: 15px;
  white-space: pre-line;
}

.p-reserve-history__content {
  margin-bottom: 10px;
  word-break: break-all;
}

.p-reserve-history__date {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.p-section {
  margin-bottom: 35px;
}

.p-select-account {
  margin-bottom: 40px;
}

.p-select-account__select {
  width: 200px;
  height: 30px;
  font-size: 1.6rem;
}

.p-tweet-form {
  margin-bottom: 50px;
}

.p-tweet-form__textarea {
  width: 100%;
  height: 16rem;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

.p-tweet-form__count {
  text-align: right;
}

.u-border {
  border: 1px solid #000000;
}

.u-d-block {
  display: block;
}

.u-d-inline-block {
  display: inline-block;
}

.u-h-fluid {
  height: 100%;
}

.u-c-white {
  color: #ffffff;
}

.u-fs-4 {
  font-size: 1.2rem;
}

.u-fs-5 {
  font-size: 1.4rem;
}

.u-fs-6 {
  font-size: 1.6rem;
}

.u-fs-7 {
  font-size: 1.8rem;
}

.u-m-1 {
  margin: 5px;
}

.u-m-2 {
  margin: 10px;
}

.u-ml-2 {
  margin-left: 10px;
}

.u-mr-1 {
  margin-right: 5px;
}

.u-mr-2 {
  margin-right: 10px;
}

.u-mb-6 {
  margin-bottom: 35px;
}

.u-mb-3 {
  margin-bottom: 20px;
}

.u-mb-2 {
  margin-bottom: 15px;
}

.u-mb-1 {
  margin-bottom: 10px;
}

.u-p-1 {
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .u-w-70 {
    width: 70%;
  }
}

.u-text-center {
  text-align: center;
}

