#footer {
  $footer-padding: $space-m;
  padding: $footer-padding;
  margin-top: auto;
  margin-bottom: 0;
  @include mq("lg") {
    min-width: calc(#{$site-width-pc} + (2 * #{$footer-padding}));
  }
  box-sizing: border-box;
  background: $color-main;
}
