#main {
  margin-top: $space-5l;
  margin-bottom: $space-l;
  padding: 0 $space-m;
  box-sizing: border-box;
  display: inline-block;
  width: 95%;
  @include mq("md") {
    width: 80%;
    margin-top: $space-8l;
    margin-bottom: $space-8l;
  }
}
