// merginの定義
.u-m-1 {
  margin: $space-xs;
}
.u-m-2 {
  margin: $space-s;
}
.u-ml-2 {
  margin-left: $space-s;
}
.u-mr-1 {
  margin-right: $space-xs;
}

.u-mr-2 {
  margin-right: $space-s;
}
.u-mb-6 {
  margin-bottom: $space-3l;
}
.u-mb-3 {
  margin-bottom: $space-l;
}
.u-mb-2 {
  margin-bottom: $space-m;
}
.u-mb-1 {
  margin-bottom: $space-s;
}
